.main {
    display: flex;
}


.left, .right{
    width: 50%;
    margin: 1%;
}

.left {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right > p, .left > p {

    font-weight: 900;
    font-size: 35;
    padding: 1%;
}
.left > p { color: darkslateblue; }
.right > p { color: ghostwhite }
.photo-upload {
    margin: 5%;
    background-color: cyan;
}

.image {
    width: 90%;
    margin: 1%;
}