

<main class="main">

    <div class="left">
        <p> Input</p>
        <form 
        class="photo-upload">
            <p>User name:</p>
            <input required 
            type="text"
            (change)="onNameChanged($event)">
            <p>Photo:</p>
            <input required 
            type="file" 
            (change)="onFileSelected($event)">
        </form>
        <button type="button" (click)="upload()">Upload</button>
    </div>

    <div class="right">
        <p> Output</p>
        <img class="image" src="{{imgSrc}}">
    </div>
</main>